@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Doto:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Merriweather&family=Montserrat:wght@100&family=Outfit:wght@100..900&family=Ubuntu&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:"Outfit", sans-serif;
}
#root{
  min-height:100vh;
  display:flex;
  animation:fadeIn 1.5s;

}
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}